//- Access restricted corpora modal, using Twitter Bootstrap modals
//- directly, not via Angular.
#accessResCorporaModal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h3.modal-title {{'accessres_title' | loc:lang}}
        button.close-x.close(data-dismiss="modal") ×
      .modal-body
        p {{'accessres_preamble_common' | loc:lang}} 
          //- This might be simpler with Angular or by setting the
          //- text content in JavaScript code.
          span#accessResCorporaPreambleACA {{'accessres_preamble_aca' | loc:lang}}
          span#accessResCorporaPreambleACARES
            | {{'accessres_preamble_acares' | loc:lang}}
          span#accessResCorporaPreambleRES {{'accessres_preamble_res' | loc:lang}}
          | :
        //- p {{'accessres_preamble' | loc:lang}}
        #resCorporaListContainer
          ul#resCorporaList
        //- Show the link to login only if not logged in and the LBR
        //- link in any case
        p#resCorporaLinks
          | {{'accessres_links_preamble' | loc:lang}} 
          span.hide_if_logged_in
            span#resCorporaLogin
              a(href='javascript:')
                | {{'accessres_login' | loc:lang}} 
            | {{'or' | loc:lang}} 
          a(href="https://lbr.csc.fi/", target="_blank")
            | {{'accessres_apply' | loc:lang}}
          | .
        p#accessResCorporaPostambleACA {{'accessres_postamble_aca' | loc:lang}} 
          a(ng-href="{{make_direct_LBR_URN('2016110710');}}", target="_blank")
            | {{'accessres_postamble_aca_linktext' | loc:lang}}
          | .
        //- TODO: Show links to corpus-specific applications in LBR
