//- Access restricted corpora modal, using Twitter Bootstrap modals
//- directly, not via Angular.
#accessResCorporaModal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h3.modal-title {{'accessres_title' | loc:lang}}
        button.close-x.close(data-dismiss="modal") ×
      .modal-body
        p {{'accessres_preamble' | loc:lang}}:
        #resCorporaListContainer
          ul#resCorporaList
        //- Show the link to login only if not logged in and the LBR
        //- link in any case
        p.hide_if_logged_in {{'accessres_login_or_apply' | loc:lang}}:
        p.hide_if_not_logged_in {{'accessres_apply' | loc:lang}}:
        p#resCorporaLogin.hide_if_logged_in
          a(href='javascript:') {{'log_in' | loc:lang}}
        //- TODO: Show links to corpus-specific applications in LBR
        p#resCorporaLBR
          a(href="https://lbr.csc.fi/", target="_blank") {{'accessres_apply_linktext' | loc:lang}}
