//- Access restricted corpora modal, using Twitter Bootstrap modals
//- directly, not via Angular.
//- tabindex="-1" seems to be required to be able to close the dialog
//- with Esc:
//- http://stackoverflow.com/questions/12630156/how-do-you-enable-the-escape-key-close-functionality-in-a-twitter-bootstrap-moda
#accessResCorporaModal.modal.fade(role="dialog", tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h3.modal-title {{'accessres_title' | loc:lang}}
        button.close-x.close(data-dismiss="modal") ×
      .modal-body
        p {{'accessres_preamble_common' | loc:lang}} 
          span.hide_if_logged_in {{'accessres_preamble_login' | loc:lang}} 
          //- This might be simpler with Angular or by setting the
          //- text content in JavaScript code.
          span#accessResCorporaPreambleACA {{'accessres_preamble_aca' | loc:lang}}
          span#accessResCorporaPreambleACAFi {{'accessres_preamble_acafi' | loc:lang}}
          span#accessResCorporaPreambleACARES
            | {{'accessres_preamble_acares' | loc:lang}}
          span#accessResCorporaPreambleRES {{'accessres_preamble_res' | loc:lang}}
          span#accessResCorporaPreambleACAACAFi {{'accessres_preamble_acaacafi' | loc:lang}}
          span#accessResCorporaPreambleACAFiRES {{'accessres_preamble_acafires' | loc:lang}}
          span#accessResCorporaPreambleACAACAFiRES
            | {{'accessres_preamble_acaacafires' | loc:lang}}
          | .
        //- p {{'accessres_preamble' | loc:lang}}
        //- Show the link to login only if not logged in and the LBR
        //- preamble in any case
        p#resCorporaLinks
          span.hide_if_logged_in
            span#resCorporaLogin
              a(href='javascript:')
                strong {{'accessres_login' | loc:lang}} 
              | {{'accessres_login_postamble' | loc:lang}}.
            //- | {{'or' | loc:lang}} 
        p#accessResCorporaPostambleACA {{'accessres_postamble_aca' | loc:lang}} 
          span#resCorporaACALink
            a(ng-href="{{make_direct_LBR_URL('2016110710');}}", target="_blank")
              | {{'accessres_postamble_aca_linktext' | loc:lang}}.
        p.hide_if_logged_in
          | {{'accessres_apply_optional' | loc:lang}}:
        p.hide_if_not_logged_in
          | {{'accessres_apply_required' | loc:lang}}:
        #resCorporaListContainer
          ul#resCorporaList
