//- Relogin modal, using Twitter Bootstrap modals directly, not via
//- Angular.
//- tabindex="-1" seems to be required to be able to close the dialog
//- with Esc:
//- http://stackoverflow.com/questions/12630156/how-do-you-enable-the-escape-key-close-functionality-in-a-twitter-bootstrap-moda
#reloginModal.modal.fade(role="dialog", tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h3.modal-title {{'relogin_title' | loc:lang}}
        button.close-x.close(data-dismiss="modal") ×
      .modal-body
        p
          | {{'relogin_preamble' | loc:lang}}
        p#relogin
          a(href='javascript:')
            strong {{'relogin_login' | loc:lang}} 
          | {{'relogin_login_postamble' | loc:lang}}.
